:root{
    box-sizing: border-box;
    font-size: calc(1vw + 0.6em);
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size:8px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: end;
}
.info_item{
    color: rgba(0, 0, 0, 0.60);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.links{
    display: flex;
    align-items: center;
    gap: 10px;
}
.link{
    text-decoration: none;
    color: #000;
    font-weight: 400;
}
.print{
    border:none;
    background: transparent url("images/image 266.png") no-repeat center;
    width: 27px;
    height: 29px;
}

.main{
    margin: 0 20px;
}

/*__________NAME BLOCK__________*/
.name{
    display: flex;
    gap: 15px;
    align-items: center;
}
.name img{
    width: 45px;
    height: 45px;
}
.name h1{
    color: rgba(0, 0, 0, 1);
    font-family: 'Abril Fatface', serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    width: 150px;
    line-height: 25px;
    text-transform: capitalize;
}

/*__________PROFILE BLOCK__________*/
.item{
    display: flex;
    flex-direction: column;
}
.item h2{
    color: rgba(0, 0, 0, 0.50);
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 0;
}
.item p{
    color: rgba(0, 0, 0, 0.70);
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 5px;
    margin-bottom: 0;
}

/*__________EXPERIENCE BLOCK__________*/
.exp_item, .education{
    margin-left: 5px;
}
.exp_item h4{
    color: rgba(0, 0, 0, 0.70);
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}
.exp_item h3{
    color: #000;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}
.exp_item ul{
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.70);
}

/*__________EDUCATION BLOCK__________*/
.education h3{
    color: #000;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.education h4{
    color: rgba(0, 0, 0, 0.70);
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom:0;
}
/*__________SKILLS BLOCK__________*/
.black_text{
    color: #000 !important;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
@media(min-width: 426px){
    .item{
        flex-direction: row;
        margin: 0 20px;
        gap: 40px;
    }
    .item h2{
        width: 110px !important;
        font-size: 18px;
    }
    .item p{
        font-size: 17px;
        width: 840px;
    }
    body{
        font-size: 18px;
    }
    .item h3{
        font-size: 17px;
    }
    .item h4{
        font-size: 15px;
    }
    .name{
        margin: 0 20px;
        gap: 60px;
    }
    .name h1{
        font-size: 40px;
        width: 256px;
        line-height: 40px;
    }
    .name img{
        width: 90px;
        height: 90px;
    }
}